.introduction{
    font-size: 2em;
}
body{
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, #EBF5EE,#BFA89E);
}
.gradient{
    animation: gradient-font 5s infinite;
}
.border-gradient{
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#BFA89E, #78A1BB);
}
.border-gradient-header{
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #BFA89E, #78A1BB);
}
.border-gradient-footer{
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #BFA89E, #78A1BB);
}
.importantWordsBrown{
    color: #8B786D;
    font-weight: bold;
}
.importantWordsBlue{
    color: #78A1BB;
    font-style: italic;
}
.blueText{
    color: #353F5A;
}
.fa-star{
    animation: gradient-font 5s infinite;
}
.fa-phone{
    animation: gradient-font 5s infinite;
}
.fa-envelope{
    animation: gradient-font 5s infinite;
}
.fa-hashtag{
    animation: gradient-font 5s infinite;
}
.fa-linkedin{
    animation: gradient-font 5s infinite;
}
.fa-music{
    animation: gradient-font 5s infinite;
}
.fa-briefcase{
    animation: gradient-font 5s infinite;
}
.customizedList{
    list-style-type: none;
    line-height: 3em;
}
.backgroundList{
    line-height: 3em;
}
.experiencesList{
    line-height: 2em;
}
.infoList{
    border: none;
}
a{
    color: #8B786D;
    
}
a:hover{
    color: #78A1BB;
}
@keyframes gradient-font {
    0% {
        color: #8B786D;
    }
    50% {
        color: #78A1BB; 
    }
    100% {
        color: #8B786D;
    }
  }